/* CSS RESETTING */
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5em;
}

/* NAVIGATION BAR */
.navbar{
    background: #0CE49F;
    position:fixed;
    width:100%;
    height: 100px;
    z-index:1;
}

.navbar.transparent {
    height: 90px;
    opacity:0.9;
}

.navbar.transparent nav a{
    font-size: 1.1em;
}

.navbar.transparent .container{
    width: 90%;
    transition: 0.5s;
}

.container{
    width: 80%;
    margin: auto;
}

#logo, nav{
    display: inline-block;
}

#logo{
    margin: 20px;
    font-size:1.3em;
    border: 1px solid #000;
    padding:8px 10px;
}

nav{
    float: right;
    margin: 30px;
}

nav ul{
    overflow: hidden;
    background: #0CE49F;
    transition: max-height 0.4s;
}

.handle{
    width:100%;
    background: #02ac84;
    text-align: left;
    color:#fff;
    box-sizing: border-box;
    padding:15px 10px;
    cursor: pointer;
    display: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

nav ul li:hover{
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

nav:after{
    content: '';
    display: block;
    clear: both;
}

@media screen and (max-width: 796px){
    nav{
        display: block;
        margin:auto;
        text-align: center;
        float: none;
    }

    .navbar{
        height:150px;
        padding:2em;
        position: absolute;
    }

    #logo{
        margin-left: 4.7em;
        font-size:2em;
    }

    .navbar.transparent {
        height: 150px;
        opacity:0.9;
    }
    
    .navbar.transparent nav a{
        font-size: 1.1em;
        transition: 0.5s;
    }
    
    .navbar.transparent .container{
        width: 80%;
        transition: 0.5s;
    }

}

@media screen and (max-width: 650px){
    #logo{
        margin-left: 3em;
    }

    .navbar{
        height:150px;
    }

    .navbar.transparent{
        height: 150px;
    }
}

@media screen and (max-width: 480px){
    .navbar{
        width:100%;
        padding: 0;
    }

    .navbar .container{
        width:100%;
        margin:0;
    }

    .navbar.transparent .container{
        width:100%;
    }

    #logo{
        margin-top:1em;
        margin-left:2.5em;
    }

    nav ul li{
        display: block;
        padding: 0;
        margin:0;
        box-sizing: border-box;
        width:100%;
        padding:15px;
        text-align: left;
    }

    nav ul li:hover{
        border: none;
    }

    nav ul{
        max-height: 0;
    }

    .showing{
        max-height: 20em;
    }

    .handle{
        display: block;
    }

    .handle{
        font-size:1.2em;
    }
}
/* NAVIGATION BAR ENDS*/

/* HERO SECTION */
#hero{
    min-height: 500px;
    text-align: center;
    padding-top:100px;
}

#hero .bg-img{
    position: absolute;
    background: url(img/hero.jpg) no-repeat;
    background-size: cover;
    background-position-y: -20px;
    width:100%;
    height: 500px;
    z-index: -1; 
    opacity: 0.6;
}

#hero h1 {
    font-size: 3em;
    padding-top: 150px;
}

#hero p {
    font-size: 1.2em;
    width: 50%;
    margin: auto;
}

#hero .btn{
    display: inline-block;
    margin: 1em;
    color: #000;
    text-decoration: none;
    padding: 1em 2em;
    margin: 2em 1em;
    border: 1px solid #000;
}

#hero .btn:hover{
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.5s ease-in;
}

@media screen and (max-width: 650px){
    #hero .bg-img{
        padding-top:60px;
    }
    #hero p{
        font-size: 1.3em;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 480px){
    #hero .bg-img{
        padding-top:180px;
    }

    #hero p{
        width:70%;
    }
}
/* HERO SECTION ENDS*/

/* ABOUT ME SECTION*/
#about {
    margin-top:4em;
    margin-bottom:4em;
    padding-top:100px;
}

#about .container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, minmax(200px, auto));
}

#about h2{
    text-align: center;
    font-size:2em;
    margin-bottom: 2em;
    text-transform: capitalize;
}

#about h2 span{
    padding-bottom:0.3em;
    border-bottom: 2px solid #0CE49F;
}

#about h2:after{
    border-bottom:1px solid red;
}

#about .container .col-left img{
    width:55%;
    height:500px;
    margin-left: 100px;
}

#about .container .col-right h3{
    font-size: 1.5em;
    margin-bottom: 1em;
}

#about .container .col-right p{
    font-size: 1.2em;
}

#about .container .col-right a{
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
    background: #0CE49F;
    border: 1px solid #0CE49F;
    padding: 1em 2em;
    color: #fff;
}

#about .container .col-right a:hover{
    background: #fff;
    border: 1px solid #0CE49F;
    color: #0CE49F;
    transition: all 0.5s ease-in;
}

@media screen and (max-width: 1125px){
    #about .container{
        width: 95%;
    }
}

@media screen and (max-width: 796px){
    #about{
        padding-top:0px;
    }

    #about .container{
        width:95%;
    }

    #about .container .col-left img{
        width:70%;
        height:500px;
        margin-left: 50px;
        margin-top:50px;
    }
}

@media screen and (max-width: 650px){
    #about{
        padding-top:50px;
    }
    
    #about .container{
        width: 80%;
        grid-template-columns: 1fr;
    }

    #about .container .col-left img{
        width:45%;
        height:400px;
        margin-left: 8em;
        border-radius:100%;
        margin-top:-20px;
    }

    #about .container .col-right h3{
        margin: 1em;
        text-align: center;
    }

    #about .container .col-right p{
        line-height: 2em;
    }

    #about .container .col-right a{
        margin-left:9em;
    }

}

@media screen and (max-width: 480px){
    #about .container .col-left img{
        width:40%;
        height:250px;
        margin-left: 6em;
        border-radius:100%;
    }

    #about .container .col-right a{
        margin-left:5em;
    }
}
/* ABOUT ME SECTION ENDS*/

/* SKILLS SECTION */
#skills{
    background: #e2e2e2;
    min-height: 500px;
    padding-top:100px;
    padding-bottom:50px;
}

#skills h2{
    padding:2em;
    text-align: center;
    font-size:2em;
    text-transform: capitalize;
}

#skills h2 span{
    padding-bottom: 0.3em;
    border-bottom: 2px solid #0CE49F;
}

#skills .container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, minmax(200px, auto));
    grid-gap:5em;
    text-align: center;
}

#skills i {
    color:#0CE49F;
    font-size:5em;
}

@media screen and (max-width: 796px){
    #skills{
        padding-top: 1em;
        padding-bottom: 3em;
    }

    #skills .container{
        width:90%;
        grid-gap:2em;
    }

    #skills .container h4{
        font-size:1.5em;
    }

    #skills .container p{
        font-size:1.1em;
        line-height:1.8em;
    }
}

@media screen and (max-width: 650px){
    #skills .container{
        width:90%;
        grid-template-columns: 1fr;
    }
}

/* PROJECTS SECTION */
#projects{
    min-height: 600px;
    padding-top:100px;
}

#projects h2{
    padding:2em;
    text-align: center;
    font-size:2em;
    text-transform: capitalize;
}

.projects-title span{
    padding-bottom: 0.3em;
    border-bottom:2px solid #0CE49F;
}

#projects .container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, minmax(200px, auto));
    grid-gap:5em;
    text-align: center;
    position: relative;
}

#project1, #project2, #project3{
    height: 300px;
    position: relative;
    overflow: hidden;
}

#project1{
    background: url(img/project1.png);
    background-size: cover;
}

#project2{
    background: url(img/project2.png);
    background-size: cover;
}

#project3{
    background: url(img/project3.png);
    background-size: cover;
}

.overlay {
    width:100%;
    height:100%;
    position: absolute;
    padding-top: 20em;
}

.overlay:hover{
    padding-top: 7em;
    background: rgba(0,0,0,0.6);
    transition: all 0.5s ease-in;
}

.overlay a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    text-transform: uppercase
}

@media screen and (max-width: 1125px){
    #projects .container{
        margin: 1em;
        width:100%;
        grid-gap: 2em;
    }
    
}

@media screen and (max-width: 796px){
    #projects{
        padding-top: 0px;
    }

    #projects .container{
        width:80%;
        margin:3em auto;
        grid-template-columns: 1fr;
    }

    #project1, #project2, #project3{
        height: 500px;
    }

    .overlay {
        padding-top: 35em;
    }

    .overlay:hover{
        padding-top: 13em;
    }
}

@media screen and (max-width: 650px){
    #projects .container{
        width:85%;
    }

    #project1, #project2, #project3{
        background-size: 500px 500px;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 480px){
    #projects .container{
        grid-gap:0;
    }

    #project1, #project2, #project3{
        background-size: 350px 350px;
        background-repeat: no-repeat;
    }

    .overlay{
        height: 28.5%;
    }

    .overlay:hover{
        transition: all 0.2s ease-in-out;
    }
}

/* PROJECTS SECTION ENDS*/

/* CONTACT SECTION */
#contact{
    min-height: 1000px;
    background: #e2e2e2;
    padding-top:100px;
}

#contact h2{
    padding:2em;
    text-align: center;
    font-size:2em;
    text-transform: capitalize;
}

.contact-me span {
    padding-bottom: 0.3em;
    border-bottom: 2px solid #0CE49F;
}

#contact .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-bottom:4em;
}

.social i{
    font-size: 2em;
    color: #000;
}

.social i:hover{
    color:#0CE49F;
}

.social span{
    font-size:1.1em;
}

#reach {
    text-align: left;
    margin-left:10em;
}

#reach i{
    font-size: 2em;
}

#reach span{
    font-size: 1.1em;
    display: inline-block;
}
  
input,
textarea,
button {
    width: 100%;
    border: 1px solid #e2e2e2;
}

.wrapper {
    margin:auto;
    width:80%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    min-height: 500px;
}

@media (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .wrapper > * {
        padding: 2em 2em;
    }
}

.contacts {
    background: #0CE49F;
    color: #fff;
}

.form {
    background: #fff;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

form label {
    display: block;
} 

form p {
    margin: 0;
    width: 90%;
}

.full-width {
    grid-column: 1 / 3;
    width: 95%;
}

button,
input,
textarea {
    padding: 1em;
}

input:focus,
textarea:focus{
    outline: 1px solid #0CE49F;
}

button {
    width: 100%;
    border: 0;
    margin: auto;
}
button:hover {
    color:#fff;
    background: #0CE49F;
    transition: all 0.5s ease-in;
}

@media screen and (max-width: 796px){
    #contact{
        padding-top:0px;
    }

    #contact .container{
        grid-template-columns: 1fr 1fr;
    }

    .social span, #reach span{
        font-size:0.9em;
    }

    #reach{
        display: none;
    }

    .wrapper{
        width:90%;
    }

    form{
        grid-gap: 2em;
    }
}

@media screen and (max-width: 650px){
    #contact{
        height: auto;
        padding-bottom:3em;
    }
    .wrapper .contacts{
        padding:2em;
    }

    .form{
        padding: 3em;
    }
}

@media screen and (max-width: 480px){
    .contacts {
        text-align: center;
    }

    .form h3{
        text-align: center;
        margin-bottom: 1em;
    }

    form{
        display: block;
    }

    form p {
        padding-bottom:2em;
    }
}
/* CONTACT SECTION ENDS */

/* FOOTER */
footer{
    background: #444;
    color:#fff;
    text-align: center;
    width: 100%;
    height: 100px;
}

footer p {
    padding-top:2.2em;
}

footer p span {
    color: #0CE49F;
}

footer .social a i {
    color: #fff;
    font-size:1.2em;
    margin-right:1em;
}

footer .social a i:hover{
    color:#0CE49F;
    transition: all 0.5s ease-in;
}
/* FOOTER ENDS */

/*PROJECT 1 PAGE*/

#septa{
    padding-top:120px;
}

#septa .container{
    width:80%;
}

#septa .container h1{
    font-size:3em;
}
#septa .container #sub-title{
    font-size:1.5em;
    margin:0;
}
#septa .container p{
    font-size:1.3em;
    margin: 1em 3em;
    line-height: 1.8em;
}

#septa .container img{
    width:1000px;
    margin:1.5em auto;
}

#septa .cols{
    margin:3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3em;
}

#septa .cols img{
    width:500px;
}

#septa .cols .image{
    margin-left:2em;
}

#septa .cols #desc p{
    font-size:1.2em;
    padding-top:5em;
    
    padding-right:3em;
    line-height: 1.8em;
}

#septa #github{
    margin: 2em 5em;
}

#github p {
    font-size:1.5em;
    text-align: center;
}

#github a{
    text-decoration: none;
}

#github a:hover{
    color: #0CE49F;
}
/*PROJECT 1 PAGE END*/

/*PROJECT 2 PAGE*/
#looplab{
    padding-top:120px;
}

#looplab .container{
    width:80%;
}

#looplab .container h1{
    font-size:3em;
}
#looplab .container #sub-title{
    font-size:1.5em;
    margin:0;
}
#looplab .container p{
    font-size:1.3em;
    margin: 1em 3em;
    line-height: 1.8em;
}

#slider{
    text-align: center;
    margin: 2em;
}

#looplab #description{
    min-height: 500px;
    background: #e2e2e2;
    padding: 5em 10em;
}

#looplab #description h2{
    font-size: 2em;
    margin-bottom:1em;
}

#looplab #description p{
    font-size:1.2em;
    line-height: 1.8em;
}

#description a{
    text-decoration: none;
    color:#0CE49F;
}

#looplab #github{
    margin: 2em 5em;
}